PORT = 
FRONTEND_URL =
MONGODB_URI = 

// auth tokens
ACCESS_TOKEN_SEC = 
REFRESH_TOKEN_SEC = 
ACCESS_EXPIRE_IN = 
REFRESH_EXPIRE_IN = 

GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET =

GITHUB_CLIENT_ID=

GITHUB_CLIENT_SECRET=

GITHUB_CALLBACK_URL=

CLIENT_URL=

// Cloud

CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 

// AI
GOOGLE_API_KEY=